*.o
Lib/__pycache__/
Lib/distutils/__pycache__/
Lib/distutils/command/__pycache__/
Lib/encodings/__pycache__/
Makefile
Makefile.pre
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/_testembed
Modules/config.c
Modules/ld_so_aix
Parser/hostpgen
Parser/pgen
Parser/pgen.stamp
_install/
build/
config.log
config.status
hostpython
libpython3.2m.a
pybuilddir.txt
pyconfig.h
python
python-gdb.py
